body {
    
    background-color: rgb(213, 213, 213);
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
     text-align: center;

}
img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border: 5px #000000 solid;
   
  }
  


main {
    display: inline-grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr );
    gap: 20px;

    
    
}

.image-container {
 

   display: grid;
 
}

.image-container img{
border: 10px;

    width: 100%;
}

article {

    padding: 10px;
    box-shadow: 0px 0px 1px rgba(black) ;
}